* {
	margin:0;
}
html {
	height:100%;
	margin:0;
}

body {
	min-height:100%;
	margin:0;
/*	overflow-y:hidden !important;
*/}

#pomodoros_done {
	position: fixed;
	top: 1em;
	right: 1em;
}

#timeline {
	border-radius:5px;
	border:0px solid rgb(160,160,160);
	color:rgb(150,150,150);
	background-color:transparent;
	height:5vh;
}

#pomodoro {
	border-radius:5px;
	border:2px solid rgb(0,0,0);
	color:rgb(150,150,0);
	background-color:#FF0000;
	width: 50%;
	padding:1%;
	height:100%;
	float:left;
}

#short_break {
	width:15%;
	border-radius:5px;
	border:2px solid rgb(0,0,0);
	color:rgb(150,0,150);
	background-color:#67E300;
/*	margin: 0 auto;
*/	padding:1%;
	float:left;
	height:100%;
}

#long_break {
	width: 35%;
	border-radius:5px;
	border:2px solid rgb(0,0,0);
	color:rgb(0,150,150);
	background-color:#133CAC;
	float:left;
	padding:1%;
	height:100%;
}

#list {
	width:20%;
	height:100vh;
/*	-webkit-box-shadow: 2px 0 10px 0 rgba(0,0,0,0.4);
	box-shadow: 2px 0 10px 0 rgba(0,0,0,0.4);*/
	float:left;
	padding:0 10px;
	position: relative;
	overflow-y:hidden;
	z-index: 2;
	border-right:1px solid rgba(0,0,0,0.2);
	background-color: rgb(30,45,70);
}

#right {
	width:80%;
	height: 100vh;
	float:left;
	padding-top:10%;
	background-color: rgb(40,55,80);
}

#break_tip {
	position:absolute;
	top:50px;
	left:550px;
	opacity:0;
	color:gray;
	z-index:500000;
    -webkit-transition: opacity 2s ease-in;
   	-moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
     -o-transition: opacity 2s ease-in;
        transition: opacity 2s ease-in;
}
#break_tip.load {
	opacity:1;
}
.timer {
	width:50%;
	text-align:center;
	margin: 0 auto;
	color: white;
}
	
.timer p {
}
#timer {
	font-size:9em;
	margin-top:0;
	font-family:'Roboto';
}

#begin {
	border:2px solid rgb(200,200,200);
	width:150px;
	height:50px;
	border-radius:10px;
	font-size:1.5em;
	font-weight:bold;
	text-transform: uppercase;
	transition: 0.5s all;
}

#begin:hover {
	border:2px solid rgb(110,110,110);
	color:rgb(100,100,100);
}

#schedule ul { 
	min-height:118px;
	padding-left:0;
	list-style-type: none;
	margin: 5px; 
	border: 1px solid rgba(0,0,0,0.2);
	border-radius:5px;
	width: 45%;
	display: inline-block;
	float:left;

}

#schedule li { 
	margin: 5px auto;
	padding: 5px;
	width: 150px;
	border: 1px solid rgba(0,0,0,0.5); 
	text-align:center;
}

#todo-list {
	list-style-type: none;
	padding-left:0;
	padding-top:5px;
	color: rgb(20,35,60);
}

.view {
	vertical-align: middle;
	padding:5px 0;
}

#todo-list label {
	font-weight:normal;
	line-height:normal;
	margin-bottom:0;
}
.toggle {
	margin:0 !important;
	position:relative;
	top:2px;
}

#main {
	height:85%;
	overflow-y: auto;
}

#todos h1 {
	margin-bottom:20px;
}

#new-todo {
	width:80%;
	display:inline-block;
	border: 0;
	border-top:0 !important;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-radius:0;
	box-shadow:none;
}

#new-todo:focus {
	outline:none;
	box-shadow:none;
	border-bottom: 1px solid rgba(0,0,0,0.4);
	-webkit-box-shadow:none	;
}

.customtime {
	width:30px;
	text-align:center;
}

.todo-modifier button {
	font-size: 13px;
	display:none;

}
#todos {
	height:100%;
	padding-top:10px;
}

.btn
{
	background-color: Transparent;
	color: rgb(180,150,80);
	border: none;
	outline:none;
	cursor:pointer;
	color: rgb(20,35,60);
	position: relative;
}

.buttons {
	border-radius:5px;
	border:2px solid rgb(200,200,200);
	color:rgb(200,200,200);
	background-color:rgb(20,35,60);
	font-family:'Roboto';
	padding:1%;
	text-align:center;
}

.pomDetails
{
	color: rgb(180,150,80);
}

#bounce
{
	background-color: Transparent;
	color: rgb(180,150,80);
	border: none;
	outline:none;
	cursor:pointer;
	display: inline-block;
}

#hello
{
	height : 100%;
	width : 100%;
	postion:relative;
	background-color: rgb(20,35,60);
	-webkit-box-shadow: 2px 0 10px 0 rgba(0,0,0,0.4);
	box-shadow: 2px 0 10px 0 rgba(0,0,0,0.4);
	color: rgb(180,150,80);

}
#trapBut
{
	postion:relative;
	margin: 0 auto 0 auto;
	border-bottom: 30px solid rgb(20,35,60);
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0;
	width: 25%;
	position: relative;
	top: 0%;

}
#bounceLayer
{
	-vendor-animation-duration: 3s;
	-vendor-animation-delay: 0.5s;
	-vendor-animation-iteration-count: infinite;

	position: fixed;
	height : 50%;
	width : 80%;
	background-color: transparent;
	
	text-align:center;

	bottom: -45%;

	z-index: 1;
}

.progress {
	overflow-y:visible;
	z-index:10;
}

#moving {
	width:1px;
	height:150%;
	background-color:black;
	position:absolute;
	z-index: 50000;
	top:-20%;
	left:0;
	-webkit-transition-timing-function: linear; /* Safari and Chrome */
    transition-timing-function: linear;
}
.barz {
	width:100%;
	height:100%;
}